.idea/

# ignore file executability
*.[oa]
*~
-x

debug.log
error.log

recon/target_list
recon/targets/*

recon/sample_target_list
recon/targets/sample-target-1/*
recon/targets/sample-target-2/*

tools/keylogger/smtp.txt